{% extends 'base.html' %}


{% block title %} service{% endblock title %}

{% block body %} 

<div class="col-sm-6">
    <div class="card bg-light mb-3 mx-4 my-4 " width=25>
    <h5 class="card-header">PHP</h5>
    <div class="card-body">
        <h5 class="card-title">If you want to learn PHP</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-secondary">Go to video</a>
    </div>
    </div>
</div>
<div class="container">
    {% for x in video %}
    <h3 class= "text-center mt-2 mb-2">{{x.caption}}</h3>
        {% comment %} <video class="video-fluid">
            <source src="{{x.video.url}}" type="video/mp4" />
        </video> {% endcomment %}
         <div class="embed-responsive embed-responsive-21by9">
            <video class="embed-responsive-item" src="{{x.video.url}}" type="video/mp4" controls preload autoplay allowfullscreen></video>
        </div> 
        {% comment %} <video id="intro" type="video/mp4" controls preload autoplay>
        <source src="{{ x.video.url }}" type="video/mp4">
    </video> {% endcomment %}
    {% endfor %}
</div>

{% endblock body %}