{% extends 'base.html' %}


{% block title %}Sign up{% endblock title %}

{% block body %}

<div class="container">
  <img src="/static/img/v1.png" class="d-block w-5 " height=250px>

</div>

<div class="container mb-0">
  <h1 class="text-center"></h1>
  <form method="POST" action="/signup">
    {% csrf_token %}
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" name="username"
        placeholder="enter your name">
    </div>

    <div class="form-group">
      <label for="email">email</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" name="email"
        placeholder="enter your email address">
    </div>
    <div class="form-group">
      <label for="phone">phone</label>
      <input type="phone" class="form-control" id="exampleFormControlInput1" name="phone"
        placeholder="enter your phne numbers">
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" class="form-control" id="exampleFormControlInput1" name="password"
        placeholder="enter your password">
    </div>
    <div class="form-group">
      <label for="password">cofirm password</label>
      <input type="password" class="form-control" id="exampleFormControlInput1" name="Cn_password"
        placeholder="Confrm your password">
    </div>

    <button class="btn btn-primary" type="submit">submit</button>
  </form>
</div>


{% endblock body %}